{% extends "base.html" %}

  {% block "content" %}


    <div class="wrapper">
      <div class="skillbox">
        <h1>Skills</h1>
        <div class="portfolio">
          <div class="mypic">
            <div class="card">
              <div class="frontpic">
                <img
                  src="/static/img/picself02.jpg"
                  alt="Mubashir Iqbal Work Station"
                />
              </div>
              <div class="backpic">
                <img
                  src="/static/img/picself01.JPG"
                  alt="Mubashir Iqbal 07 pic"
                />
              </div>
            </div>
          </div>
          <div class="skills">
            <div class="progressbars">
              <div class="cplusplus">
                <div class="meter red">
                  <span style="width: 90%;" data-caption="90%"
                    >C++ (Qt Framework) Development<span>90%</span></span
                  >
                </div>
              </div>
              <div class="phpdev">
                <div class="meter red">
                  <span style="width: 97%;"
                    >PHP Web Development<span>97%</span></span
                  >
                </div>
              </div>
              <div class="wordpress">
                <div class="meter red">
                  <span style="width: 97%;"
                    >WordPress Development<span>97%</span></span
                  >
                </div>
              </div>

              <div class="themePlugin">
                <div class="meter red">
                  <span style="width: 97%;"
                    >WP Theme+Plugin Dev & Customization<span>97%</span></span
                  >
                </div>
              </div>

              <div class="database">
                <div class="meter red">
                  <span style="width: 97%;"
                    >DataBase Query Development<span>97%</span></span
                  >
                </div>
              </div>
              <div class="JS">
                <div class="meter red">
                  <span style="width: 97%;"
                    >JavaScript, Ajax, jQuery<span>97%</span></span
                  >
                </div>
              </div>
              <div class="HTML5">
                <div class="meter red">
                  <span style="width: 100%;"
                    >HTML5 Dev, Customization & Bug fixing
                    <span>100%</span></span
                  >
                </div>
              </div>

              <div class="CSS">
                <div class="meter red">
                  <span style="width: 100%;"
                    >CSS3 Style Dev, Customization & Bug fixing<span
                      >100%</span
                    ></span
                  >
                </div>
              </div>

              <div class="management">
                <div class="meter red">
                  <span style="width: 100%;"
                    >Project Management & Administration<span>100%</span></span
                  >
                </div>
              </div>

              <div class="website">
                <div class="meter red">
                  <span style="width: 100%;"
                    >Website Management & Administration<span>100%</span></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="educationbox">
        <h1>Education</h1>
        <div class="eduflux">
          
            <div class="ms">
                <h2>Comsats University Islamabad, Pakistan</h2>
                <div class="degree">
                  <h3>
                    MS Artificial Intelligence
                  </h3>
                  <p class="status">
                    <span>Status : </span
                    ><span class="completed"
                      >Completed <i class="fa fa-check-circle"></i
                    ></span>
                  </p>
                  <p class="leng"><span>Timeline : </span><span>2 Years</span></p>
                  <p class="year"><span>Year : </span><span>2023</span></p>
                  <p class="perMarks">
                    <span>Obtained Marks : </span><span>80%</span>
                  </p>
                </div>
              </div>
          
            <div class="bscs">
            <h2>Virtual University Pakistan</h2>
            <div class="degree">
              <h3>
                BS Computer Science
                <a
                  href="https://www.vu.edu.pk/AcademicPrograms/StudyScheme.aspx?sp=Computer_Science"
                  target="_blank"
                  >(Professional Degree)</a>
              </h3>
              <p class="status">
                <span>Status : </span
                ><span class="completed"
                  >Completed <i class="fa fa-check-circle"></i
                ></span>
              </p>
              <p class="leng"><span>Timeline : </span><span>4 Years</span></p>
              <p class="year"><span>Year : </span><span>2020</span></p>
              <p class="perMarks">
                <span>Obtained Marks : </span><span>72%</span>
              </p>
            </div>
          </div>
          <div class="courses">
            <div class="piaic">
              <h2>
                BLOCKCHAIN SPECIALIST (<a
                  href="https://www.piaic.org/block-chain"
                  target="_blank"
                  >PIAIC</a
                >)
              </h2>
              <div class="piaicdetail">
                <p class="status">
                  <span>Status : </span><span class="running">Running</span>
                </p>
                <p class="leng"><span>Timeline : </span><span>1 Year</span></p>
                <p class="current">
                  <span>Expected completion : </span><span>2021</span>
                </p>
              </div>
            </div>
            <div class="digiskills">
              <h2>DigiSkills</h2>
              <div class="digiflex">
                <div class="course">
                  <h3>
                    <a
                      href="https://digiskills.pk/CourseDetails.aspx?Id=GRD101"
                      target="_blank"
                    >
                      Graphics Designing</a
                    >
                  </h3>
                  <div class="details">
                    <p class="status">
                      <span>Status : </span
                      ><span class="completed"
                        >Completed <i class="fa fa-check-circle"></i
                      ></span>
                    </p>
                    <p class="leng">
                      <span>Timeline : </span><span>12 Weeks</span>
                    </p>
                  </div>
                </div>

                <div class="course">
                  <h3>
                    <a
                      href="https://digiskills.pk/CourseDetails.aspx?Id=WPS101"
                      target="_blank"
                    >
                      WordPress
                    </a>
                  </h3>
                  <div class="details">
                    <p class="status">
                      <span>Status : </span
                      ><span class="completed"
                        >Completed <i class="fa fa-check-circle"></i
                      ></span>
                    </p>
                    <p class="leng">
                      <span>Timeline : </span><span>12 Weeks</span>
                    </p>
                  </div>
                </div>

                <div class="course">
                  <h3>
                    <a
                      href="https://digiskills.pk/CourseDetails.aspx?Id=ECM101"
                      target="_blank"
                    >
                      E-Commerce Management</a
                    >
                  </h3>
                  <div class="details">
                    <p class="status">
                      <span>Status : </span
                      ><span class="completed"
                        >Completed <i class="fa fa-check-circle"></i
                      ></span>
                    </p>
                    <p class="leng">
                      <span>Timeline : </span><span>12 Weeks</span>
                    </p>
                  </div>
                </div>

                <div class="course">
                  <h3>
                    <a
                      href="https://digiskills.pk/CourseDetails.aspx?Id=CRW101"
                      target="_blank"
                    >
                      Creative Writing
                    </a>
                  </h3>
                  <div class="details">
                    <p class="status">
                      <span>Status : </span
                      ><span class="completed"
                        >Completed <i class="fa fa-check-circle"></i
                      ></span>
                    </p>
                    <p class="leng">
                      <span>Timeline : </span><span>12 Weeks</span>
                    </p>
                  </div>
                </div>

                <div class="course">
                  <h3>
                    <a
                      href="https://digiskills.pk/CourseDetails.aspx?Id=DGM101"
                      target="_blank"
                    >
                      Digital Marketing
                    </a>
                  </h3>
                  <div class="details">
                    <p class="status">
                      <span>Status : </span
                      ><span class="completed"
                        >Completed <i class="fa fa-check-circle"></i
                      ></span>
                    </p>
                    <p class="leng">
                      <span>Timeline : </span><span>12 Weeks</span>
                    </p>
                  </div>
                </div>
                <div class="course">
                  <h3>
                    <a
                      href="https://digiskills.pk/CourseDetails.aspx?Id=SEO101"
                      target="_blank"
                    >
                      SEO
                    </a>
                  </h3>
                  <span>(Search Engine Optimization)</span>
                  <div class="details">
                    <p class="status">
                      <span>Status : </span><span class="completed">Completed <i class="fa fa-check-circle"></i></span>
                    </p>
                    <p class="leng">
                      <span>Timeline : </span><span>12 Weeks</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
  