 
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

   <!--   <title>Mubashir Iqbal Gurmani</title>-->
   <title> {{title}} </title>

    <meta name="description" content="A freelancer with professional skills in C++, Qt C++ Framework, PHP, HTML5, CSS3, JavaScript." />
    <meta name="author" content="Mubashir Iqbal Gurmani" />
    
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <script>
      $(function () {
        $(".meter > span").each(function () {
          $(this)
            .data("origWidth", $(this).width())
            .width(0)
            .animate(
              {
                width: $(this).data("origWidth"),
              },
              1200
            );
        });
      });
    </script>
    <link rel="stylesheet" href="/static/customStyles.css" />
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <a href="https://www.mubashiriqbal07.com">
          <img
            src="/static/img/mylogo.png"
            alt="Mubashir Iqbal 07 Site logo"
          />
          <div class="siteName">
            <div class="sitetitle">Muabshir Iqbal Gurmani</div>
            <div class="sitedesc">Web & Desktop Apps Developer</div>
          </div>
        </a>
      </div>
      <div class="headerlinks">
        <ul>
          <li class="myblog">
            <a href="https://www.mubashiriqbal07.com/myblog">My Blog</a>
          </li>
          <li class="clients"><a href="">My Clients</a></li>
          <li class="message"><a href="">Send message</a></li>
        </ul>
      </div>
    </div>
    <div class="wrapper">
      <div class="skillbox">
        <h1>Skills</h1>
        <div class="portfolio">
          <div class="mypic">
            <div class="card">
              <div class="frontpic">
                <img
                  src="/static/img/picself02.jpg"
                  alt="Mubashir Iqbal Work Station"
                />
              </div>
              <div class="backpic">
                <img
                  src="/static/img/picself01.JPG"
                  alt="Mubashir Iqbal 07 pic"
                />
              </div>
            </div>
          </div>
          <div class="skills">
            <div class="progressbars">
              <div class="cplusplus">
                <div class="meter red">
                  <span style="width: 90%;" data-caption="90%"
                    >C++ (Qt Framework) Development<span>90%</span></span
                  >
                </div>
              </div>
              <div class="phpdev">
                <div class="meter red">
                  <span style="width: 97%;"
                    >PHP Web Development<span>97%</span></span
                  >
                </div>
              </div>
              <div class="wordpress">
                <div class="meter red">
                  <span style="width: 97%;"
                    >WordPress Development<span>97%</span></span
                  >
                </div>
              </div>

              <div class="themePlugin">
                <div class="meter red">
                  <span style="width: 97%;"
                    >WP Theme+Plugin Dev & Customization<span>97%</span></span
                  >
                </div>
              </div>

              <div class="database">
                <div class="meter red">
                  <span style="width: 97%;"
                    >DataBase Query Development<span>97%</span></span
                  >
                </div>
              </div>
              <div class="JS">
                <div class="meter red">
                  <span style="width: 97%;"
                    >JavaScript, Ajax, jQuery<span>97%</span></span
                  >
                </div>
              </div>
              <div class="HTML5">
                <div class="meter red">
                  <span style="width: 100%;"
                    >HTML5 Dev, Customization & Bug fixing
                    <span>100%</span></span
                  >
                </div>
              </div>

              <div class="CSS">
                <div class="meter red">
                  <span style="width: 100%;"
                    >CSS3 Style Dev, Customization & Bug fixing<span
                      >100%</span
                    ></span
                  >
                </div>
              </div>

              <div class="management">
                <div class="meter red">
                  <span style="width: 100%;"
                    >Project Management & Administration<span>100%</span></span
                  >
                </div>
              </div>

              <div class="website">
                <div class="meter red">
                  <span style="width: 100%;"
                    >Website Management & Administration<span>100%</span></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="educationbox">
        <h1>Education</h1>
        <div class="eduflux">
          <div class="bscs">
            <h2>Virtual University Pakistan</h2>
            <div class="degree">
              <h3>
                BS Computer Science
                <a
                  href="https://www.vu.edu.pk/AcademicPrograms/StudyScheme.aspx?sp=Computer_Science"
                  target="_blank"
                  >(Professional Degree)</a
                >
              </h3>
              <p class="status">
                <span>Status : </span
                ><span class="completed"
                  >Completed <i class="fa fa-check-circle"></i
                ></span>
              </p>
              <p class="leng"><span>Timeline : </span><span>4 Years</span></p>
              <p class="year"><span>Year : </span><span>2020</span></p>
              <p class="perMarks">
                <span>Obtained Marks : </span><span>72%</span>
              </p>
            </div>
          </div>
          <div class="courses">
            <div class="piaic">
              <h2>
                BLOCKCHAIN SPECIALIST (<a
                  href="https://www.piaic.org/block-chain"
                  target="_blank"
                  >PIAIC</a
                >)
              </h2>
              <div class="piaicdetail">
                <p class="status">
                  <span>Status : </span><span class="running">Running</span>
                </p>
                <p class="leng"><span>Timeline : </span><span>1 Year</span></p>
                <p class="current">
                  <span>Expected completion : </span><span>2021</span>
                </p>
              </div>
            </div>
            <div class="digiskills">
              <h2>DigiSkills</h2>
              <div class="digiflex">
                <div class="course">
                  <h3>
                    <a
                      href="https://digiskills.pk/CourseDetails.aspx?Id=GRD101"
                      target="_blank"
                    >
                      Graphics Designing</a
                    >
                  </h3>
                  <div class="details">
                    <p class="status">
                      <span>Status : </span
                      ><span class="completed"
                        >Completed <i class="fa fa-check-circle"></i
                      ></span>
                    </p>
                    <p class="leng">
                      <span>Timeline : </span><span>12 Weeks</span>
                    </p>
                  </div>
                </div>

                <div class="course">
                  <h3>
                    <a
                      href="https://digiskills.pk/CourseDetails.aspx?Id=WPS101"
                      target="_blank"
                    >
                      WordPress
                    </a>
                  </h3>
                  <div class="details">
                    <p class="status">
                      <span>Status : </span
                      ><span class="completed"
                        >Completed <i class="fa fa-check-circle"></i
                      ></span>
                    </p>
                    <p class="leng">
                      <span>Timeline : </span><span>12 Weeks</span>
                    </p>
                  </div>
                </div>

                <div class="course">
                  <h3>
                    <a
                      href="https://digiskills.pk/CourseDetails.aspx?Id=ECM101"
                      target="_blank"
                    >
                      E-Commerce Management</a
                    >
                  </h3>
                  <div class="details">
                    <p class="status">
                      <span>Status : </span
                      ><span class="completed"
                        >Completed <i class="fa fa-check-circle"></i
                      ></span>
                    </p>
                    <p class="leng">
                      <span>Timeline : </span><span>12 Weeks</span>
                    </p>
                  </div>
                </div>

                <div class="course">
                  <h3>
                    <a
                      href="https://digiskills.pk/CourseDetails.aspx?Id=CRW101"
                      target="_blank"
                    >
                      Creative Writing
                    </a>
                  </h3>
                  <div class="details">
                    <p class="status">
                      <span>Status : </span
                      ><span class="completed"
                        >Completed <i class="fa fa-check-circle"></i
                      ></span>
                    </p>
                    <p class="leng">
                      <span>Timeline : </span><span>12 Weeks</span>
                    </p>
                  </div>
                </div>

                <div class="course">
                  <h3>
                    <a
                      href="https://digiskills.pk/CourseDetails.aspx?Id=DGM101"
                      target="_blank"
                    >
                      Digital Marketing
                    </a>
                  </h3>
                  <div class="details">
                    <p class="status">
                      <span>Status : </span
                      ><span class="completed"
                        >Completed <i class="fa fa-check-circle"></i
                      ></span>
                    </p>
                    <p class="leng">
                      <span>Timeline : </span><span>12 Weeks</span>
                    </p>
                  </div>
                </div>
                <div class="course">
                  <h3>
                    <a
                      href="https://digiskills.pk/CourseDetails.aspx?Id=SEO101"
                      target="_blank"
                    >
                      SEO
                    </a>
                  </h3>
                  <span>(Search Engine Optimization)</span>
                  <div class="details">
                    <p class="status">
                      <span>Status : </span><span class="completed">Completed <i class="fa fa-check-circle"></i></span>
                    </p>
                    <p class="leng">
                      <span>Timeline : </span><span>12 Weeks</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footerflex">
        <div class="copyright">
          Mubashir Iqbal Gurmani
        </div>
        <div class="sociallinks">
          <ul class="footul">
            <li>
              <a href="https://www.facebook.com/mubshr07" target="_blank"><i class="fa fa-facebook-square"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/mubashir-iqbal-220195195/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/Mubshr07" target="_blank"><i class="fa fa-github-square"></i></a>
            </li>
            <li>
              <a href="mailto:mubshr07@gmail.com" target="_blank"><i class="fa fa-envelope-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
